.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.ul {
  list-style-type: none;
  padding: 0;
}

.li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.pagination {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  cursor: pointer;
}

.pagination .active {
  background-color: #007bff;
  color: white;
}
.eventsList {
  display: flex
;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 17px;
}
.navBtns {
  display: flex
  ;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}
.loadMoreDiv {
  display: flex;
    justify-content: center;
}
.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  
}

input[type="text"],
input[type="date"],
select {
  border-radius: 5px;
  padding: .6em 1.2em;
  font-family: inherit;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #7fff00;
}
